# Dependency folder (wajib di-ignore karena sizenya gede)
node_modules/
jspm_packages/
web_modules/

# Environment variables & Rahasia (CRITICAL: Jangan sampai ke-upload!)
.env
.env.local
.env.*.local
*.env
*.env.json

# Logs (Biar file log transaksi lokal lo ga menuh-menuhin git)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac & Windows system files (Sampah OS)
.DS_Store
Thumbs.db
desktop.ini

# IDE & Text Editor config
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp